{% func CommonContents(section Section) %}
<div class="transition-opacity duration-500 ease-in-out opacity-0" hx-ext="class-tools" classes="remove opacity-0:0s">

    <!-- Section Title -->
    <h1>
        {%s section.Title %}</h1>

    {% for _, content := range section.Contents %}

    <br>

    {% if content.Subtitle != "" %}
    <h2>{%s content.Subtitle %}</h2>
    <br>
    {% endif %}

    {% if len(content.TextList) != 0 %}
    <div>{%= Text(content.TextList) %}</div>
    <br>
    {% endif %}

    {% if content.Img != "" %}
    {%= Img(content.Img) %}
    <br>
    {% endif %}

    {% if content.RawHtml != "" %}
    {%s= content.RawHtml %}
    <br>
    {% endif %}

    {% endfor %}

    <br>
</div>
{% endfunc %}