{% func CommonSideMenu(projectMap map[string]Project, sortApis []string, currentProject string, currentSection string)
%}

<!-- <a href="#" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Profile</a>

<a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Dashboard</a> -->

<div>

    {% for _, projectApi := range sortApis %}

    {% code isCurrentProject := currentProject == projectApi %}
    {% code project := projectMap[projectApi] %}

    <div class="project {% if isCurrentProject %}bg-blue-200{% endif %}">
        <a hx-get="{%v project.Api %}" hx-target="#contents"
            class="no-underline text-[25px] text-cyan-700 hover:text-cyan-900 block transition-[0.3s] pl-8 pr-2 py-2">{%s
            project.Title %}</a>
    </div>


    {% if isCurrentProject %}
    {% for _, sectionApi := range project.SortApis %}

    {% code isCurrentSection := currentSection==sectionApi %}
    {% code section := project.SectionMap[sectionApi] %}

    <div class="section {% if isCurrentSection %}bg-blue-100{% endif %}">
        <a hx-get="{%v projectApi %}/{%v sectionApi %}" hx-target="#contents"
            class="no-underline text-[20px] text-cyan-700 hover:text-cyan-900 block transition-[0.3s] pl-12 pr-2 py-2">{%s
            section.Title %}</a>
    </div>
    {% endfor %}
    {% endif %}

    {% endfor %}

</div>

{% endfunc %}