{% func Index(projectMap map[string]Project, sortApis []string, currentProject string, currentSection string) %}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Gianni Jiang">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="cyan">
    <title>Gianni Jiang</title>
    <link rel="stylesheet" href="./assets/tailwind.css">
    <script type="text/javascript" src="./assets/htmx.js"></script>
    <script async type="text/javascript" src="./assets/alpine.js"></script>
    <script type="text/javascript" src="./assets/classtools.js"></script>
    <link rel="manifest" href="./assets/manifest.json" />
    <link rel="icon" type="image/x-icon" href="./assets/favicon/favicon.ico">

    <!-- Debug -->
    <script>htmx.logAll()</script>

</head>

<body>

    <div class="flex">
        <div id="side-menu" class="h-screen bg-teal-300 transition-[0.5s] pt-[30px] w-1/6">
            {%= CommonSideMenu(projectMap, sortApis, currentProject, currentSection)%}
        </div>

        <div id="contents" class="h-screen transition-[0.5s] w-5/6 text-center pt-[30px]">
            {%= CommonContents(projectMap[currentProject].SectionMap[currentSection])%}
        </div>
    </div>




</body>

</html>
{% endfunc %}