{% func Index(projectMap map[string]Project, sortApis []string) %}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Gianni Jiang">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="cyan">
    <title>Gianni Jiang</title>
    <link rel="stylesheet" href="./assets/tailwind.css">
    <script type="text/javascript" src="./assets/htmx.js"></script>
    <script async type="text/javascript" src="./assets/alpine.js"></script>
    <script type="text/javascript" src="./assets/classtools.js"></script>
    <link rel="icon" type="image/x-icon" href="./assets/favicon/favicon.ico">

    <!-- Debug -->
    <!-- <script>htmx.logAll()</script> -->

</head>

<body>

    <div class="flex overflow-auto" x-data="{activeProject:'website', activeSection:'introduction'}">
        <div id="side-menu" class="bg-teal-300 pt-[30px] w-1/6">
            {%= CommonSideMenu(projectMap, sortApis)%}
        </div>

        <div id="contents" class="h-screen w-5/6 text-center pt-[30px] overflow-auto">
            {%= CommonContents(projectMap["website"].SectionMap["introduction"])%}
        </div>
    </div>




</body>

</html>
{% endfunc %}